<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {{#each computations }}
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ cost }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>